.naviBar {
    position: fixed;
    top: 10;
    border-radius: 50px;
    padding: 5px;
    left: 50%;
    column-gap: 10px;
    z-index: 1000;
    transform: translateX(-50%);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.576);
    backdrop-filter: blur(10px);
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.naviBar a{
    text-decoration: none;
}


#interakt {
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    display: inline-block;
    text-align: center;
}

.infofo {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 5px rgba(0,0,0,0.2);
  padding: 20px;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 0.4s ease;
}

.infofo.active {
  transform: translateX(0);
}

.contentInfo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contentInfo a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  transition: color 0.2s, padding 0.5s;
}

.contentInfo a:hover{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.contentInfo a:last-child {
  border-bottom: none;
}

.naviBar h1 {
    font-size: 1.8rem;
    margin: 0;
}

.burger {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1100;
}

.burger span {
  display: block;
  height: 4px;
  width: 100%;
  background: #333;
  border-radius: 2px;
  transition: 0.4s;
}

.burger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.active span:nth-child(2) {
  opacity: 0;
  transform: scaleX(0);
}

.burger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}



@media (max-width: 768px) {
    .naviBar h1 {
        font-size: 1.5rem;
    }
}